[submodule "libs/vtextedit"]
	path = libs/vtextedit
	url = https://github.com/zhangwinston/vtextedit.git
[submodule "libs/QHotkey"]
	path = libs/QHotkey
	url = https://github.com/zhangwinston/QHotkey.git
